* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
:root {
  --border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
body {
  background: rgb(248, 248, 248);
}
header {
  background: rgb(248, 248, 248);
}
.flex .logo {
  font-size: 2rem;
  color: var(--black);
  font-weight: bolder;
  padding-left: 2rem;
  background: rgb(248, 248, 248);
}
.flex .logo:hover {
  color: #00a8ff;
}
.heed {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  align-items: center;
  justify-content: center;
  background: rgb(248, 248, 248);
}
.sect {
  background: rgb(255, 255, 255);
  border-radius: 0.25em;
  backdrop-filter: blur(55px);
  transition: all 0.4s ease-in-out;
  display: flex;
  min-height: 95vh;
  align-items: center;
  justify-content: center;
  max-width: 35rem;
}
h1 {
  font-size: 1.5rem;
  color: rgb(138, 133, 153);
  text-align: center;
  font-style: 400;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1rem;
  font-weight: 200;
  max-width: 20rem;
  margin-bottom: 0.5rem;
}
.inputbox {
  position: relative;
  margin: 1.25em 0;
  max-width: 31.25em;
  border-bottom: 1px solid black;
  transition: all 0.5s ease-in-out;
}
.inputbox:hover {
  border-bottom: 1px solid #00a8ff;
  transition: all 0.2s ease;
}
.inputbox input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  height: 3em;
  color: black;
  padding: 0 35px 0 5px;
  font-size: 0.8rem;
}
.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: grey;
  transform: translateY(-60%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.inputbox .ri-lock-line,
.ri-mail-line,
.ri-user-line {
  position: absolute;
  right: 8px;
  color: black;
  font-size: 1.2rem;
  top: 12px;
  transition: all 0.5s ease-in-out;
}
.inputbox .ri-lock-line:hover,
.ri-mail-line:hover,
.ri-user-line:hover {
  color: #00a8ff;
  transition: all 0.2s;
}
input:focus ~ label,
input:valid ~ label {
  top: -5px;
  font-size: 0.9rem;
  color: #a8a8a8;
}
#email-error {
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 16px;
  font-weight: 400;
  color: red;
  transition: top 0.4s;
}
.sub {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(12, 6, 6, 0.5);
  transition: all 0.4s ease-in-out;
}
.sub:hover {
  background: #00a8ff;
}
.sub a {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.register {
  color: black;
  font-size: 0.9rem;
  text-align: center;
  margin: 25px 0 10px;
  font-weight: 600;
}
.register p a {
  text-decoration: none;
  color: none;
  outline: none;
  border: none;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
  color: black;
}
.register p a:hover {
  color: red;
  text-decoration: underline;
}
.imggg {
  /* background: rgb(248,248,248); */
  align-items: center;
  justify-content: center;
}
.imggg img {
  width: 90%;
  align-self: center;
  padding-left: 4rem;
}
.imggg h3 {
  font-size: 1.2rem;
  font-weight: 200;
  margin-left: 3rem;
  margin-bottom: 0.2rem;
  max-width: 10rem;
}
.imggg p {
  margin-left: 3rem;
  font-weight: 200;
  margin-top: -0.5rem;
  font-size: 0.8rem;
}
.flee {
  justify-self: center;
  margin-left: 20rem;
}
.miil {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-left: 4rem;
}
.ri-mail-fill {
  align-items: center;
  color: black;
  font-size: 1.5rem;
}
.miil p a {
  outline: none;
  text-decoration: none;
  border: none;
  color: #a8a8a8;
  margin-left: -2.5rem;
  margin-top: 3rem;
}
.lill {
  display: flex;
  justify-content: space-between;
  max-width: 50rem;
}
